* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.section-2 {
    height: 80px;
    width: 100%;
    background-color: white;
    padding-top: 25px;
}

ul a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}


.container {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    padding-left: 25px;
}

.button {
    padding: 15px 25px;
    background-color: rgb(209, 82, 124);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 20px;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    margin: -8px;
    padding: 8px 3px;
}

.b-1 {
    background-color: #ed2385;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    margin-left: 65px;
}

.heading {
    padding: 35px 70px;
    color: #ed2385;
}

.card-1 {
    border: 2px solid #ed2385;
    border-radius: 15px;
    padding: 15px 18px;
    margin-top: 25px;
    border-top: 5px solid #EC008C;
    border-right: 1px solid #EC008C;
    border-bottom: 1px solid #EC008C;
    border-left: 1px solid #EC008C;
    height: 350px;
    padding-top: 30px;
    margin: 25px 35px;

}

.card-2 {
    border: 2px solid #ed2385;
    border-radius: 15px;
    padding: 15px 18px;
    margin-top: 25px;
    border-top: 1px solid #EC008C;
    border-right: 1px solid #EC008C;
    border-bottom: 1px solid #EC008C;
    border-left: 5px solid #EC008C;
    height: 200px;
    padding-top: 30px;
    margin: 25px 35px;

}

.card-3 {
    border: 2px solid #ed2385;
    border-radius: 15px;
    padding: 15px 18px;
    margin-top: 25px;
    border-top: 1px solid #EC008C;
    border-right: 1px solid #EC008C;
    border-bottom: 1px solid #EC008C;
    border-left: 5px solid #EC008C;
    height: 300px;
    padding-top: 30px;
    margin: 25px 35px;

}

.card-4 {
    border: 2px solid #ed2385;
    border-radius: 15px;
    padding: 15px 18px;
    margin-top: 25px;
    border-top: 5px solid #EC008C;
    border-right: 1px solid #EC008C;
    border-bottom: 1px solid #EC008C;
    border-left: 1px solid #EC008C;
    height: auto;
    padding-top: 30px;
    margin: 25px 35px;
    margin-top: 80px;
}

body {
    background-color: #f5f5f5;
}

.pricing-table {
    background-color: white;
    padding: 20px;
}

.table thead th {
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
}

.table tbody td {
    font-size: 12px;
    padding: 12px;
    vertical-align: middle;
}

.table tbody tr:nth-child(odd) {
    background-color: #f1f2f4;
}

.check {
    font-size: 18px;
    font-weight: bold;
}

.cross {
    font-size: 18px;
    font-weight: bold;
}

.footer {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
}

.left-side {
    padding-top: 30px;
    height: 33.33%;
    width: 33.33%;
}

.left-side span {
    color: #ed2385;
}


.center-side {
    padding-top: 30px;
    height: 33.33%;
    width: 33.33%;
}

.right-side {
    padding-top: 30px;
    height: 33.33%;
    width: 33.33%;
}

.style-button {
    border: none;
    font-size: 20px;
    color: #e40a73;
    font-weight: bolder;
}

.Facebook {
    background-color: #e40a73;
    margin: 5px;
    padding: 12px 18px;
    border-radius: 50%;
}

.Twiter {
    background-color: #e40a73;
    margin: 5px;
    padding: 16px 15px;
    border-radius: 50%;
}

.in {
    background-color: #e40a73;
    margin: 5px;
    padding: 16px 17px;
    border-radius: 50%;
}